.sub-title h1 {
  height: 95px;
  font-weight: 700;
  font-size: 50px;
  line-height: 95px;
  display: flex;
  align-items: center;
  letter-spacing: -1.78px;
  color: #FE8222;
  flex: none;
  order: 0;
  flex-grow: 0;
}
