<div class="container mt-3">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">MotherBoard</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Case</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">GPU</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-4">
        <button class="step-trigger">
          <span class="bs-stepper-circle">4</span>
          <span class="bs-stepper-label">PowerSupply</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-5">
        <button class="step-trigger">
          <span class="bs-stepper-circle">5</span>
          <span class="bs-stepper-label">Storage</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-6">
        <button class="step-trigger">
          <span class="bs-stepper-circle">6</span>
          <span class="bs-stepper-label">RAM</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-7">
        <button class="step-trigger">
          <span class="bs-stepper-circle">7</span>
          <span class="bs-stepper-label">CPU</span>
        </button>
      </div>
    </div>
    <div class="d-flex">
      <div class="bs-stepper-content w-100 p-5 ">

        <form>
          <!-- MotherBoard -->
          <div id="test-l-1" class="content pt-2">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>MOTHERBOARD (9)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/motherboard.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Prime Z690-A</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/motherboard.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Prime Z690-A</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/motherboard.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Prime Z690-A</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/motherboard.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Prime Z690-A</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/motherboard.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Prime Z690-A</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Case -->
          <div id="test-l-2" class="content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>CASE (5)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/case.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Atrix Tempered Glass Computer Case With RGB</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/case.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Atrix Tempered Glass Computer Case With RGB</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/case.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Atrix Tempered Glass Computer Case With RGB</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/case.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Atrix Tempered Glass Computer Case With RGB</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- GPU  -->
          <div id="test-l-3" class="content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>GPU (6)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/gpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Nvidia RTX 3090</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/gpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Nvidia RTX 3090</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/gpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Nvidia RTX 3090</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/gpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Nvidia RTX 3090</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/gpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">Nvidia RTX 3090</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- PowerSupply -->
          <div id="test-l-4" class="content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>POWERSUPPLY (4)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/powersupply.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">ROG</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/powersupply.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">ROG</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/powersupply.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">ROG</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/powersupply.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">ROG</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/powersupply.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">ROG</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Storage -->
          <div id="test-l-5" class="content">

            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>Storage (3)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ssd.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">WD Blue PC SSD</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ssd.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">WD Blue PC SSD</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ssd.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">WD Blue PC SSD</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ssd.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">WD Blue PC SSD</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ssd.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">WD Blue PC SSD</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- RAM -->
          <div id="test-l-6" class="content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>RAM (9)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ram.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AITC DDR3 8GB 1600 DESKTOP RAM </h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ram.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AITC DDR3 8GB 1600 DESKTOP RAM </h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ram.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AITC DDR3 8GB 1600 DESKTOP RAM </h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ram.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AITC DDR3 8GB 1600 DESKTOP RAM </h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/ram.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AITC DDR3 8GB 1600 DESKTOP RAM </h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CPU -->
          <div id="test-l-7" class="content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="icon-container mb-1">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <img src="../../../assets/images/pc.png" class="img-fluid animated" alt="" width="350"
                        height="300">
                      <div class="row mt-3 info">
                        <div class="col-lg-6">
                          <h1>Model</h1>
                          <span class="detail"> MSI MPG ooo</span>
                          <h1 class="mt-3">Color</h1>
                          <span class="detail"> Black</span>
                        </div>
                        <div class="col-lg-6">
                          <h1>Spec</h1>
                          <span class="detail"> Spec</span>
                          <h1 class="mt-3">Price</h1>
                          <span class="detail"> $9.99</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="dialog-window">
                    <h1>CPU (9)</h1>

                    <div id="scrollable-content">
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/cpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AMD Ryzen 3</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/cpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AMD Ryzen 3</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/cpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AMD Ryzen 3</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/cpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AMD Ryzen 3</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3 mt-3" style="max-width: 98%;">
                        <div class="row no-gutters">
                          <div class="col-lg-4">
                            <img src="../../../assets/images/cpu.png" class="card-img" alt="..." height="100px"
                              style="object-fit:contain">
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h5 class="card-title">AMD Ryzen 3</h5>
                              <p class="card-text">Select</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="footer">
                      <button (click)="onNext()" class="btn button-content w-100">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
