<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12 justify-content-center">
      <p-tabView class="">
        <p-tabPanel header="All">
          <app-display-all></app-display-all>
        </p-tabPanel>
        <p-tabPanel header="Mother Board">
          <app-display-mother-board></app-display-mother-board>
        </p-tabPanel>
        <p-tabPanel header="Case">
          <app-display-case></app-display-case>
        </p-tabPanel>
        <p-tabPanel header="GPU">
          <app-display-gpu></app-display-gpu>
        </p-tabPanel>
        <p-tabPanel header="Power Supply">
          <app-display-power-supply></app-display-power-supply>
        </p-tabPanel>
        <p-tabPanel header="Storage">
          <app-display-storage></app-display-storage>
        </p-tabPanel>
        <p-tabPanel header="RAM">
          <app-display-ram></app-display-ram>
        </p-tabPanel>
        <p-tabPanel header="CPU">
          <app-display-cpu></app-display-cpu>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

</div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
